body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #93bacd;
}

form {
    background-color: rgb(166, 186, 190);
    padding: 30px;
    border: 1px solid rgb(78, 81, 82);
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

form button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}